<h2>edit product</h2>
<%=simple_form_for [:admin,@product] do |f|%>
  <div class="group">
    <%=f.input :title%>
  </div>
  <div class="form-group">
    <%= f.cktext_area :brif_desc, ckeditor: { toolbar:'mini', language: 'zh-CN'} %>
  </div>


  <div class="group">
    <%=f.input :quantity%>
  </div>
  <div class="group">
    <%=f.input :price%>
  </div>
  <div class="form-group">
    <%= f.cktext_area :description, ckeditor: { toolbar:'mini', language: 'zh-CN'} %>
  </div>
  <%if @product.product_img.present?%>
    <span>目前商品图</span><br>
    <%=image_tag(@product.product_img.thumb.url)%>
  <%end%>
  <div class="group">
    <%=f.input :product_img,as: :file %>
  </div>


  <div class="form-group">
    <%= f.label :lesson_img %>
    <%= f.file_field :lesson_img,:multiple=>true,:class=>"form-control" %>
    <% if f.object.lesson_img.present? %>
    <label>
      <%=f.check_box :remove_lesson_img%> 删除图档
    </label>
    <% f.object.lesson_img.each do |i|%>
      <%= link_to i.filename,i.url,:target=>"_blank"%>
    <% end %>
  <% end %>
  </div>
  <%=f.submit "确定",data:{disable_with:"Submitting..."}%>
<% end %>
