<div id="post-<%=post.id%>" class="panel panel-default">
  <div class="panel panel-heading">
    <h4><i class="fa fa-user-circle-o"></i><%= post.user.email.split("@")[0] %>:</h4>

  </div>
  <div class=" panel-body">
    <%= post.content %>
    <p class="text-right">
      <span id="post-vote-<%=post.id%>">
        <%= render "posts/vote",:post=>post %>
      </span>
      <% if current_user %>
        <% if current_user.admin? || current_user.id==post.user.id %>
          <%=link_to "Delete",product_post_path(post.product,post),:method=>:delete,:remote=>true,:class=>"btn btn-danger btn-xs"%>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
