<!DOCTYPE html>
<html>
  <head>
    <title>GetStore后台</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar"%>
        <div class="" style="margin-top:80px;">
          <%= render "common/flashes" %>
          <div class="container">
            <div class="row">
              <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked" style="max-width:300px;">
                  <li>
                    <%=link_to("产品列表",admin_products_path,class:"btn btn-success ")%>
                  </li>
                  <li>
                    <%= link_to("订单列表",admin_orders_path,class:"btn btn-success") %>
                  </li>
                </ul>

              </div>
              <div class="col-md-10">
                <%=yield%>
              </div>
            </div>
          </div>
          <%=render "common/footer"%>
        </div>

      </div>

    </div>
  </body>
</html>
