<!DOCTYPE html>
<html>
  <head>
    <title>GetStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body class="web-body">
    <div class="container-fluid devise-container" id="devise-container">
      <div class="row" >
        <%= render "common/navbar"%>

          <%= render "common/flashes" %>
          <div class="col-md-4 col-md-offset-4 devise-content">
            <%=yield%>
          </div>


          <!-- <%=render "common/footer"%> -->


      </div>

    </div>
  </body>
</html>
<script type="text/javascript">
//设置背景图片的高度
h=window.innerHeight
||document.documentElement.clientHeight
||document.body.clientHeight;
document.getElementById("devise-container").style.height=h+"px";
</script>
