<!DOCTYPE html>
<html>
  <head>
    <title>GetStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>

  <body class="web-body">
    <div class="container-fluid">
      <div class="row" >
        <%= render "common/navbar"%>

          <%= render "common/flashes" %>
          <div class="container" >
            <div class="row" style="background-color:#cfe2f3;">
              <div class="" style="margin-top:60px">
                <%=yield%>
              </div>

            </div>
          </div>
          <%=render "common/footer"%>


      </div>

    </div>
  </body>
</html>
